body {
    background-color: #FAD6A5;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 100px 200px;
    background-position: center top;
}

.topofpage {
    text-align: center; 
}

.header {
    display: block;
    letter-spacing: .2em;
    font-family: monospace, 'Courier New', Courier;
    background: #c56b84;
    color: peachpuff;
    box-shadow: 10px 10px 10px maroon;
    text-shadow: 10px 10px 10px maroon;
    border: 5px #fa5f55;
    border-width: 3px;
    border-bottom: 3px maroon solid;
    border-radius: 25px;
    padding: 20px;
    margin: 20px auto;
    min-width: 500px;
    max-width: 500px;

}

.fbuttons {
    top: 23%;
    display: inline-flex;
    margin: 0 auto;
}

.fbuttons button {
    background-color: #c56b84;
    color: peachpuff;
    font-weight: bolder;
    text-shadow: 10px 10px 10px maroon;
    box-shadow: 10px 10px 10px maroon;
    border: 1px solid maroon;
    border-radius: 4px;
    margin: 0 30px;
    letter-spacing: .2em;
    width: 150px;
}

.fbuttons button:hover{
    background-color: maroon;
}

#main-container {
    display: flex;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    white-space: nowrap;
    /* Prevent wrapping of movie boxes */
    padding: 20px;
    /* Add some padding for space */
}

.movie-box {
    position: relative;
    /* Make the container position relative */
    display: inline-block;
    text-wrap: break-word;
    height: 650px;
    width: 500px;
    /* Set a fixed width for each movie box */
    margin-right: 2%;
    /* Add some space between movie boxes */
    vertical-align: top;
    /* Align movie boxes at the top */
    text-align: center;
    letter-spacing: .2em;
    font-family: monospace, 'Courier New', Courier;
    font-size: 12px;
    background: rgba(52, 52, 209, 0.763);
    color: linen;
    box-shadow: 10px 10px 10px maroon;
    text-shadow: 10px 10px 10px rgba(255, 13, 13, 0.487);
    border: 5px #fa5f55;
    border-width: 3px;
    padding: 20px;
    border-bottom: 3px maroon solid;
    border-radius: 25px;
    text-wrap: wrap;

}

.movie-box:first-child {
    margin-left: calc((100vw - 590px) / 2);
    /* Move the first box to the right side of the container */
}

.movie-box:last-child {
    /* Style the first movie box */
    margin-right: calc((100vw - 590px) / 2);
    /* Move the first box to the right side of the container */
}

.movie-box img {
    border: 1px solid linen;
    border-radius: 4px;
    padding: 5px;
    width: 175px;
}

.button-container{
    position: absolute; /* Make the container absolute within the box */
    top: 660px;
    right: 5px;
}

.movie-box button {
    bottom: 5px;
    left: 10px;
    right: 10px;
    transform: translateX(-50%);
    background-color: maroon;
    color: peachpuff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid rgba(52, 52, 209, 0.763);
    border-radius: 5px;
    letter-spacing: .2em;
}

.movie-box button:hover{
    background-color: #c56b84;;
}

.sort-dropdown-content {
    display: none;
    position: fixed;
    min-width: 160;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
    border-radius: 4px;
    background-color: #c56b84;
    padding: 5px;
    width: 175px;
    margin-top: 10px;
    box-shadow: 10px 10px 10px maroon;
}

.sort-dropdown-content button {
    background-color: #c56b8500;
    color: peachpuff;
    text-align: left;
    font-weight: bolder;
    border: none;
    box-shadow: none;
    text-shadow: 5px 5px 5px maroon;
    padding: 10px;
    margin-left: 1%;
    width: 175px;
}

.sort-dropdown-content button:hover{
    background-color: maroon;
}

.filter-dropdown-content {
    display: none;
    position: fixed;
    min-width: 160;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
    border-radius: 4px;
    background-color: #c56b84;
    padding: 5px;
    width: 175px;
    margin-top: 10px;
    box-shadow: 10px 10px 10px maroon;
}

.filter-dropdown-content button {
    background-color: #c56b8500;
    color: peachpuff;
    text-align: left;
    font-weight: bolder;
    border: none;
    padding: 10px;
    margin-left: 1%;
    box-shadow: none;
    text-shadow: 5px 5px 5px maroon;
    width: 175px;
}

.filter-dropdown-content button:hover{
    background-color: maroon;
}

.filter-rating-content {
    display: none;
    position: relative;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    /* z-index: 1; */
    text-align: left;
    border-radius: 4px;
    background-color: #c56b84;
    /* padding: 5px; */
    width: 175px;
    margin-top: 10px;
    /* box-shadow: 10px 10px 10px maroon; */
}

.filter-rating-content button {
    background-color: #c56b8500;
    color: peachpuff;
    text-align: left;
    font-weight: bolder;
    border: none;
    padding: 10px;
    margin-left: 1%;
    box-shadow: none;
    text-shadow: 5px 5px 5px maroon;
    width: 175px;
}

.filter-rating-content button:hover{
    background-color: maroon;
}

.rating {
    color: goldenrod;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.101);
    font-weight: bold;
    font-size: 16px;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: peachpuff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(128, 0, 0, 0.500);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: maroon
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c56b84;
    margin: 15% auto;
    padding: 20px;
    letter-spacing: .2em;
    font-family: monospace, 'Courier New', Courier;
    background: #c56b84;
    color: peachpuff;
    box-shadow: 10px 10px 10px maroon;
    border: 5px #fa5f55;
    border-width: 3px;
    border-bottom: 3px maroon solid;
    border-radius: 25px;
    width: 50%;
    min-width: 700px;
    position: relative; /* Add position relative */
}

.modal-content button {
    background-color: maroon;
    color: peachpuff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border: 1px solid rgba(52, 52, 209, 0.763);
    border-radius: 5px;
    letter-spacing: .2em;
    margin: 5px;
    width: 50%;
}

.modal-content button:hover{
    background-color: rgba(52, 52, 209, 0.763);
}

.modal-content input{
    display: flex;
    margin: 0 auto;
    background-color: linen;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border: 1px solid maroon;
    border-radius: 5px;
    letter-spacing: .2em;
    text-align: center;
    min-width: 600px;
}

.modal-content textarea {
    display: flex;
    margin: 0 auto;
    background-color: linen;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border: 1px solid maroon;
    border-radius: 5px;
    letter-spacing: .2em;
    text-align: left;
    min-width: 600px;
    min-height: 100px;
    resize: vertical; /* Allow vertical resizing */
}


/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: peachpuff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
